body{
    background-color: #f4c198;
}
h1, p {
    text-align: center;
    color: white;
}
footer{
    text-align: center;
}
footer a {
    margin: 0 10px;
    color: #cd5b43;
}
p a{
    color: #0c2a28;
}
img{
    align-items: center;
}